<h1>Work Experience</h1>
<hr>
<div class="column pb-4">
{% for workexperience in site.workexperiences reversed %}
    <div class="d-flex flex-row row position-relative">
        <div class="column mt-4" style="width: 10%;">
            <div style="width: 22px; height: 22px;" class="rounded-circle background-accent"></div>
            {% if forloop.last == true %}
                <div style="width: 2px; height: 85%; margin-left: 10px; top: 1.5rem;" class="background-accent position-absolute"></div>
            {% else %}
                <div style="width: 2px; height: 100%; margin-left: 10px; top: 1.5rem;" class="background-accent position-absolute"></div>
            {% endif %}
        </div>
        <div class="ml-5 pb-3" style="width: 80%;">
        <div class="d-flex flex-row justify-content-between">
            <div class="column">
            <h3 class="m-0">{{ workexperience.position }}</h3>
            <a class="link-large w-100" target="_blank" rel="noopener noreferrer" href="{{ workexperience.company_url }}">{{ workexperience.company }}</a>
            <p>{{ workexperience.from }} - {{ workexperience.to }}</p>
            </div>
            <img src="{{ site.url }}{{ site.baseurl }}/{{workexperience.logo}}" height="40px">
        </div>
        {{ workexperience.content }}
        </div>
    </div>
    {% endfor %}
</div>