---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/AboutPage">
  <div class="row position-relative">
    <div class="col-md-1 col-xs-1 col-sm-1"></div>
    <div class="col-md-3 col-xs-10 col-sm-10 d-flex flex-column align-items-center align-self-start sticky-large mb-3  mt-4">
      <img src="{{ site.url }}{{ site.baseurl }}/assets/img/me.jpg" class="rounded-circle mb-3" height="150px">
      {% include social.html %}
      <h2 class="pt-2">Hello, I'm Terry</h2>
      <p>
        {{ site.description | escape }} <br><br>
        {{ site.other_hobbies | escape }}
      </p>
    </div>
    <div class="col-md-1 col-xs-1 col-sm-1"></div>
    <div class="col-md-7 col-xs-12 col-sm-12">
      {% include work-experience.html %}
      {% include education.html %}
    </div>
  </div>
</article>
